/* mujahidul style */

/* The Data area s */
.efi_the_data_area{
  width: 100%;
  margin: 0px 0px 100px 0px;
  padding: 0px;
  background-color: #003283;
}
.efi_the_data_header{
  max-width: 1148px;
  margin: 110px auto;
}
.efi_the_data_header h2{
  font-family: "new_ordersemibold", arial !important;
  font-size: 80px;
  line-height: 95px;
  text-align: center;
  color: #FDFBDF;
}
.efi_thedata_feature_item{
  height: 504px;
  /* min-width: 638px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;    
  /* max-width: 33.33%; */
  /* max-width: 642px;
  max-height: 504px; */
}  

.efi_thedata_feature_item.one{
  border-bottom: 4px solid #FDFBDF;
  border-right: 4px solid #FDFBDF;
  /* padding-top: 8.8%; */
}
.efi_thedata_feature_item.two{
  border-bottom: 4px solid #FDFBDF;
  border-right: 4px solid #FDFBDF;
  /* padding-top: 144px; */
}
.efi_thedata_feature_item.three{
  border-bottom: 4px solid #FDFBDF;
  text-align: center;
  /* padding-top: 106px; */
}
.efi_thedata_feature_item.four{
  border-right: 4px solid #FDFBDF;
}
.efi_thedata_feature_item.five{
  border-right: 4px solid #FDFBDF;
}
.efi_thedata_feature_item_img_area{
  position: relative;
}  

.efi_thedata_feature_item h1{
  text-align: center;
  color: #FDFBDF;
  width: 100%;
  font-family: "new_ordersemibold", arial !important;
  font-size: 162px;
  line-height: 105px;
}
.efi_thedata_feature_item h2{
  font-family: "freightsans_prosemibold", arial !important;  
  text-align: center;
  color: #FDFBDF;
  width: 100%;  
}
.efi_thedata_feature_item.one h2{
  font-size: 81px;
  line-height: 58px;
}
.efi_thedata_feature_item.five h2{
  font-size: 104px;
  line-height: 50px;
}
.efi_thedata_feature_item h3{
  font-family: "freightsans_prosemibold", arial !important;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  color: #FDFBDF;
}
.efi_thedata_feature_item h5{
  text-align: center;
  color: #FDFBDF;    
}
.efi_thedata_feature_item.two h5{
  font-family: "new_ordersemibold", arial !important;  
  font-size: 65px;
  position: absolute;
  top: 36%;
  left: 33%;  
}
.efi_thedata_feature_item p{
  font-family: "freightsans_probook", arial !important;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #FDFBDF;
  width: 100%;
}
.efi_thedata_feature_item.two img{
  max-width: 253px;
  padding-bottom: 10px;
}
.efi_thedata_feature_item.three img{
  max-width: 274px;
  padding-bottom: 10px;
}  
.efi_thedata_feature_item.four img{
  max-width: 313px;
  padding-bottom: 10px;
}
.efi_thedata_feature_item.six img{
  max-width: 250px;
  padding-bottom: 15px;
}

  /* Overlay Style */
.overlayCentertoTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FDFBDF;    
  overflow: hidden;
  width: 100%;
  height: 0;
  transition-delay: .10;
  transition: .3s ease;
}
.efi_thedata_feature_item:hover .overlayCentertoTop { 
  top: 0;   
  bottom: 0;
  height: 100%;
}
  .efi_thedata_overlay_content h1,  .efi_thedata_overlay_content h2, .efi_thedata_overlay_content h3,
  .efi_thedata_overlay_content h5, .efi_thedata_overlay_content p {
    color: #003283;
}
  
/* ======== The Data area e ========= */

/* ======== The Testimonial area  ========= */
.efi_testimonial_area{
  background-image: url(../image/Testimonials-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 882px;
}
.efi_testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6% 15% 4% 30%;
}
.efi_testimonial_item{
  display: flex;
  flex-direction: column;
}
.efi_testimonial_item:first-child {
  padding-bottom: 60px;
}
.efi_testimonial_item_txt{
  position: relative;
  font-family: "freightsans_probook", arial !important;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  color: #FDFBDF;
}
.fa-quote-left {
  position: absolute;
  left: -80px;
  top: -25px;
  font-size: 61px!important;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FDFBDF;
}
.fa-quote-right {
  position: absolute;
  right: 40%;
  bottom: -70px;
  font-size: 61px!important;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FDFBDF;
}
.efi_testimonial_item_author{
  align-self: self-end;
  font-family: "freightsans_probook", arial !important;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #FDFBDF;
}
/* ======== The Testimonial area e ========= */

/* ======== Incorporate area s ======== */
  .efi_incorporate_area{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #003283;
  }
  .efi_incorporate_header{
    max-width: 1148px;
    margin: 110px auto;
  }
  .efi_incorporate_header h2{
    font-family: "new_ordersemibold", arial !important;
    font-size: 80px;
    line-height: 95px;
    text-align: center;
    color: #FDFBDF;
  }
  .efi_incorporate_feature_item{
    height: 504px;
    /* min-width: 638px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;  
  }  

  .efi_incorporate_feature_item.one{
    border-bottom: 4px solid #FDFBDF;
    border-right: 4px solid #FDFBDF;
  }
  .efi_incorporate_feature_item.two{
    border-bottom: 4px solid #FDFBDF;
    border-right: 4px solid #FDFBDF;
  }
  .efi_incorporate_feature_item.three{
    border-bottom: 4px solid #FDFBDF;
    text-align: center;
  }
  .efi_incorporate_feature_item.four{
    border-right: 4px solid #FDFBDF;
  }
  .efi_incorporate_feature_item.five{
    border-right: 4px solid #FDFBDF;
  }
  .efi_incorporate_feature_item_img_area{
    position: relative;
  }  
  .efi_incorporate_feature_item h1{
    font-family: "new_ordersemibold", arial !important;
    font-size: 175px;
    line-height: 100px;
    text-align: center;
    color: #FDFBDF;
    width: 100%;
  }
  .efi_incorporate_feature_item.six h1{
    line-height: 125px;
  }
  .efi_incorporate_feature_item h2{
    font-family: "new_ordersemibold", arial !important;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: #FDFBDF;
    width: 100%;
  }
  .efi_incorporate_feature_item.five h2{
    font-size: 83px;
    line-height: 100px;
  }
  .efi_incorporate_feature_item.three img{
    max-width: 173px;
    padding-bottom: 20px;
  }  
  .efi_incorporate_feature_item.four img{
    max-width: 253px;
    padding-bottom: 22px;
  }
  .efi_incorporate_feature_item h3{
    font-family: "FreightSansProBook", arial !important;
    font-size: 80px;
    line-height: 85px;
    text-align: center;
    color: #FDFBDF;
  }

  .efi_incorporate_feature_item h5{
    font-family: "New Order", arial !important;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    color: #FDFBDF;    
    position: absolute;
    top: 85px;
    left: 90px;
  }
  .efi_incorporate_feature_item p{
    font-family: "FreightSansProBook", arial !important;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #FDFBDF;
    width: 100%;
    max-width: 324px;
  }
  .efi_incorporate_feature_item.four p{
    line-height: 35px;
  }
  /* Overlay Style */
  .overlayBtmtoTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FDFBDF;    
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .efi_incorporate_feature_item:hover .overlayBtmtoTop {    
    bottom: 0;
    height: 100%;
  }
  .efi_incorporate_overlay_content h1,  .efi_incorporate_overlay_content h2, .efi_incorporate_overlay_content h3,
  .efi_incorporate_overlay_content h5, .efi_incorporate_overlay_content p {
    color: #003283;
  }
  /* Overlay Style e */
  /* Incorporate area s */

  @media all and (max-width: 1440px){
    .efi_incorporate_feature_item h2{
      font-size: 60px;
      line-height: 70px;
    }
    .efi_incorporate_feature_item.five h2{
      font-size: 64px;
      line-height: 75px;
    }
  }
  @media all and (max-width: 1359px){
    .LaptabMobHide{
      display: none;
    }
    /* incorporate max-1359px */
    .efi_thedata_feature_item{
      max-height: 450px;
      padding: 15px;
    }
    .efi_the_data_header h2{
      font-size: 64px;
    }
    .efi_thedata_feature_item h1{
      font-size: 128px;
      line-height: 80px;
    }
    .efi_thedata_feature_item.one h2{
      font-size: 60px;
      line-height: 40px;
    }
    .efi_thedata_feature_item h3{
      font-size: 42px;
      font-weight: 40px;
    }
    .efi_thedata_feature_item p{
      font-size: 24px;
      line-height: 30px;
      max-width: 95%;
      margin: 0px auto;
    }
    .efi_thedata_feature_item.two img{
      max-width: 220px;
    }
    .efi_thedata_feature_item.two h5{
      font-size: 52px;
    }
    .efi_thedata_feature_item.three img{
      max-width: 235px;
    }
    .efi_thedata_feature_item.four img{
      max-width: 250px;
    }
    .efi_thedata_feature_item.five h2{
      font-size: 84px;
    }
    .efi_thedata_feature_item.six img{
      max-width: 225px;
    }
    /* incorporate e max-1359px */


    /* the data max-1359px */
    .efi_incorporate_header h2{
      font-size: 64px;
    }
    /* the data e max-1359px */
  }
  @media all and (max-width: 1024px){
    /* incorporate  max-1024px */
    .efi_the_data_header {
      max-width: 1148px;
      margin: 40px auto;
    }
    .efi_the_data_header h2 {
      font-size: 30px;
      line-height: 40px;
    }
    .efi_thedata_feature_item h1{
      font-size: 58px;
      line-height: 32px;
    }
    .efi_thedata_feature_item.one h2{
      font-size: 30px;
      line-height: 22px;
    }
    .efi_thedata_feature_item h3{
      font-size: 22px;
      line-height: 22px;
    }
    .efi_thedata_feature_item p, .efi_thedata_overlay_content p {
      font-size: 16px;
      line-height: 18px;
    }
    .efi_thedata_overlay_content p{
      max-width: 95%;
    }
    .efi_thedata_feature_item.two img {
      max-width: 92px;
    }
    .efi_thedata_feature_item.two h5 {
      font-size: 18px;
      top: 36%;
      left: 42%;
    }
    .efi_thedata_feature_item.three img {
      max-width: 85px;
    }
    .efi_thedata_feature_item.four img {
      max-width: 111px;
    }
    .efi_thedata_feature_item.five h2 {
      font-size: 38px;
      line-height: 22px;
    }
    .efi_thedata_feature_item.six img {
      max-width: 110px;
    }
    .efi_thedata_feature_item {
      max-height: 210px;
      padding: 15px;
    }
    .overlayCentertoTop{
      padding: 0px 15px;
    }
    /* incorporate e max-1024px */

    /* Testimonial max-1024px */
    .efi_testimonial_item_txt{
      font-size: 18px;
      line-height: 24px;
    }
    .efi_testimonial_area{
      background-position: 15%;
    }
    .efi_testimonials {
      padding: 12% 9% 4% 36%;
    }
    .efi_testimonial_item_author{
      font-size: 14px;
      line-height: 18px;
    }
    .fa-quote-left {
      left: -56px;
      top: -18px;
      font-size: 40px!important;
    }
    .fa-quote-right {
      right: 50%;
      bottom: -45px;
      font-size: 40px!important;
    }
    .efi_testimonial_item:first-child {
      padding-bottom: 30px;
    }
    .efi_testimonial_area{
      /* max-height: 600px; */
      max-height: 550px;
    }
    /* Testimonial e max-1024px */

    /* The Data max-1024px */
    .efi_incorporate_header {
      max-width: 1148px;
      margin: 40px auto;
    }
    .efi_incorporate_header h2 {
      font-size: 30px;
      line-height: 40px;
    }
    .efi_incorporate_feature_item h1{
      font-size: 58px;
      line-height: 32px;
    }
    .efi_incorporate_feature_item.one h2{
      font-size: 30px;
      line-height: 34px;
    }
    .efi_incorporate_feature_item h3{
      font-size: 26px;
      line-height: 22px;
    }
    .efi_incorporate_feature_item p, .efi_incorporate_overlay_content p {
      font-size: 16px;
      line-height: 18px;
    }
    .efi_incorporate_overlay_content p{
      max-width: 95%;
    }
    .efi_incorporate_feature_item.four p{
      line-height: 18px;
    }
    .efi_incorporate_feature_item.two img {
      max-width: 92px;
    }
    .efi_incorporate_feature_item.two h5 {
      font-size: 18px;
      top: 36%;
      left: 43%;
    }
    .efi_incorporate_feature_item h5 {
      font-size: 20px;
      line-height: 20px;
      top: 30%;
      left: 39%;
    }
    .efi_incorporate_feature_item.three img {
      max-width: 85px;
      padding-bottom: 10px;
    }
    .efi_incorporate_feature_item.four img {
      max-width: 111px;
      padding-bottom: 10px;
    }
    .efi_incorporate_feature_item.five h2 {
      font-size: 34px;
      line-height: 38px;
  }
    .efi_incorporate_feature_item.six img {
      max-width: 110px;
    }
    .efi_incorporate_feature_item.six h1{
      line-height: 36px;
    }
    .efi_incorporate_feature_item {
      max-height: 210px;
      padding: 15px;
    }
    .overlayBtmtoTop{
      padding: 0px 15px;
    }

    /* The Data e max-1024px */
  }

  @media all and (max-width: 767px) {
    .efi_testimonial_area{
      /* max-height: 600px; */
      max-height: 440px;
    }
    .efi_testimonials{
      display: none;
    }
    .efi_testimonial_carousel{
      padding: 12% 0% 4% 0%;
    }    
    .efi_testimonial_item_txt{
      padding-left: 30px;
      padding-top: 10px;
    }
    .fa-quote-left {
      left: 8px;
      top: 0px;
    }
    .efi_testimonial_item_txt{
      padding-left: 60px;
      padding-top: 10px;
    }
  }
  @media all and (min-width: 768px) {
    .MobShow{
      display: none; 
    }
    .DskHide{
      display: none;
      height: 0px;
    }
    .efi_testimonial_carousel-item, .efi_testimonial_carousel-indicators {
      display: none;
    }
  }
  @media all and (max-width: 767px) {
    /* incorporate max-767px */
    .efi_thedata_feature_item.one{
      border-bottom: 4px solid #FDFBDF;
      border-right: 4px solid #FDFBDF;
    }
    .efi_thedata_feature_item.two{
      border-bottom: 4px solid #FDFBDF;
      border-right: none;
    }
    .efi_thedata_feature_item.three{
      border-bottom: 4px solid #FDFBDF;
      border-right: 4px solid #FDFBDF;
    }
    .efi_thedata_feature_item.four{
      border-bottom: 4px solid #FDFBDF;
      border-right: none;
    }
    .efi_thedata_feature_item.five{
      border-right: 4px solid #FDFBDF;
    }
    .efi_thedata_feature_item {
      /* max-height: 180px; */
      padding: 7px;
    }
    .efi_thedata_feature_item h1 {
      font-size: 45px;
      line-height: 20px;
    }
    .efi_thedata_feature_item.one h2 {
      font-size: 23px;
      line-height: 14px;
    }
    .efi_thedata_feature_item h3 {
      font-size: 16px;
      line-height: 10px;
    }
    .efi_thedata_feature_item p, .efi_thedata_overlay_content p {
      font-size: 14px;
      line-height: 16px;
    }
    .efi_thedata_feature_item.four img {
      max-width: 88px;
    }
    .efi_thedata_feature_item.five h2 {
      font-size: 29px;
      line-height: 14px;
    }
    .efi_thedata_feature_item.six img {
      max-width: 80px;
    }
    /* incorporate e max-767px */

    /* the data max-767px */
    .efi_incorporate_feature_item.one{
      border-bottom: 4px solid #FDFBDF;
      border-right: 4px solid #FDFBDF;
    }
    .efi_incorporate_feature_item.two{
      border-bottom: 4px solid #FDFBDF;
      border-right: none;
    }
    .efi_incorporate_feature_item.three{
      border-bottom: 4px solid #FDFBDF;
      border-right: 4px solid #FDFBDF;
    }
    .efi_incorporate_feature_item.four{
      border-bottom: 4px solid #FDFBDF;
      border-right: none;
    }
    .efi_incorporate_feature_item.five{
      border-right: 4px solid #FDFBDF;
    }
    .efi_incorporate_feature_item {
      padding: 7px;
    }
    .efi_incorporate_feature_item h1 {
      font-size: 50px;
      line-height: 40px;
    }
    .efi_incorporate_feature_item.one h2 {
      font-size: 25px;
      line-height: 30px;
    }
    .efi_incorporate_feature_item h3 {
      font-size: 23px;
      line-height: 10px;
    }
    .efi_incorporate_feature_item p, .efi_incorporate_overlay_content p {
      font-size: 14px;
      line-height: 16px;
    }
    .efi_incorporate_feature_item.three img {
      max-width: 62px;
      padding-bottom: 8px;
    }
    .efi_incorporate_feature_item.four img {
      max-width: 88px;
    }
    .efi_incorporate_feature_item.five h2 {
      font-size: 25px;
      line-height: 30px;
    }
    .efi_incorporate_feature_item h5 {
      font-size: 16px;
      line-height: 18px;
      top: 29%;
      left: 41%;
    }
    .efi_incorporate_feature_item.six img {
      max-width: 80px;
    }
    /* the data e max-767px */

  }

  @media all and (max-width: 430px) {
    .MobShow{
      display: none; 
    }
    .efi_thedata_feature_item{
      max-height: 180px;
    }
    .efi_incorporate_feature_item{
      max-height: 180px;
    }
    .efi_testimonials{
      display: none;
    }
    .efi_testimonial_area {
      background-position: 19%;
    }
    .fa-quote-right {
      right: 70%;
      bottom: -50px;
      font-size: 40px!important;
    }

  }
  /* mujahidul style e */


  