@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'freightsans_probold';
    src: url('../font/freightsansprobold-regular-webfont.woff2') format('woff2'),
         url('../font/freightsansprobold-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	

}
@font-face {
    font-family: 'freightsansprfreightsansproBk';
    src: url('../font/fontfreightsansprobook-regular-webfont.woff2') format('woff2'),
         url('../font/fontfreightsansprobook-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FreightSansProBook';
    src: url('../font/FreightSansProBook-Regular.eot');
    src: url('../font/FreightSansProBook-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/FreightSansProBook-Regular.woff2') format('woff2'),
        url('../font/FreightSansProBook-Regular.woff') format('woff'),
        url('../font/FreightSansProBook-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'new_ordersemibold';
    src: url('../font/new_order_semibold-webfont.woff2') format('woff2'),
         url('../font/new_order_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*menu*/
.ftco-navbar-light {
  
  z-index: 3;
}
  
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #000 !important;
      position: relative;
      top: 0;
      padding: 10px 15px; } }
  .ftco-navbar-light .navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700; }
    .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
      color: #000; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-bottom: 10px; } }

  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
	  font-family: 'FreightSansProBook';
    font-size: 18px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #FDFBDF;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 1 !important; }

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:after{
    content: "";
    color:#fff;
    display:block;
    width:40px;
    margin:0 auto;
    border-bottom:3px solid #fff;
}
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .9rem;
        padding-bottom: .9rem;
        color: rgba(255, 255, 255, 0.7); }
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
          color: #fff; } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link.icon-cart {
      border: 1px solid #fec771;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link.icon-cart .fa {
        color: #fec771; }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
    padding: 0; }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
      font-size: 12px;
      color: #000; }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
        background: #fec771;
        color: #fff; }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #fec771;
    border-radius: 0px; }
    @media (max-width: 767.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #fff;
        background: #fec771;
        border-radius: 4px; } }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a:after {
        content: "";
    color:#fff;
    display:block;
    width:40px;
    margin:0 auto;
    border-bottom:3px solid #fff; }


    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: #fff; } }

  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
    .ftco-navbar-light .navbar-toggler:focus {
      outline: none !important; }

.dropdown-toggle::after {
  display: none; }


.ml-auto,
.mx-auto {
  margin-left: auto !important; }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important; }


/* mujahidul style */
/* font implement */
@font-face {
  font-family: PetcoCircularTT-Regular;
  src: url(assets/fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
    url(assets/fonts/PetcoCircularTT-Regular.woff) format("woff");
}
/* font implement */
.efi_incorporate_area{
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #003283;
}
.efi_incorporate_header{
  max-width: 1148px;
  margin: 0px auto;
}
.efi_incorporate_header h1{
  font-size: 40px;
  line-height: 95px;
  text-align: center;
  color: #FDFBDF;
}
/* .efi_incorporate_features{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
} */
.efi_incorporate_feature_item{
  /* max-width: 33.33%; */
  /* max-width: 642px;
  max-height: 504px; */
}
.efi_incorporate_feature_item h1{
  font-size: 12px;
}
.efi_incorporate_feature_item img{
  max-width: 200px;
}
.efi_incorporate_feature_item h2{
  font-size: 8px;
}
.efi_incorporate_feature_item p{
  font-size: 5px;
}

/* mujahidul style e */